{% extends "layout.html" %}
{% block content %}
  <!-- Form
  ================================================== -->
<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">
          {% if name %}
            こんにちは {{ name }} さん
          {% else %}
            {{ message }}
          {% endif %}
        </p>
        <form action="/post" method="post" class="form-inline">
          <!--<label for="name">名前</label>-->
          <!--request.form['name']
          input typeの文字を取得している？
          -->
          <!--<input type="radio" class="form-control" id="r1" name="radio" value="こんにちは"><br><br>-->
          <!--<input type="button" name="button" class="form-control" value="こんにちは">-->
          <!--nameはグループ名-->
          <!--<input type="radio" name="radio" class="form-control" value="こんにちは">-->
          <!--<input type="text" class="form-control" id="name" name="name" placeholder="Name">-->
          <textarea name="text" class="form-control" cols="50" rows="10"></textarea><br>
          <button type="submit" class="btn btn-default">送信する</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
